@media (max-width: 1246px) {
  .header__text {
    max-width: 390px;
  }
  .sub__title {
    font-size: 27px;
  }
  .header__image {
    &-photo {
      max-width: 440px;
    }
  }
}
@media (max-width: 1200px) {
  .header {
    .logo {
      margin-right: 40px;
      margin-bottom: 10px;
      text-align: center;
      width: 100%;
    }
  }
  .nav {
    padding: 40px 0 0 0;
    &__list {
      margin: 0 auto;
    }
  }
  .resources {
    &__main {
      justify-content: space-evenly;
      max-width: 560px;
      margin: 0 auto;
    }
  }
}
@media (max-width: 1146px) {
  .orders {
    &__main {
      justify-content: space-evenly;
    }
    &__item {
      max-width: 420px;
      min-height: 240px;
      font-size: 17px;
    }
    &__link {
      margin-top: 40px;
    }
  }
}
@media (max-width: 1061px) {
  .header__nav {
    margin-bottom: 120px !important;
  }
  .header {
    &__main {
      text-align: center;
      padding-top: 0px;
      flex-direction: column-reverse;
    }
    &__text {
      max-width: 480px;
    }
    .top__title {
      font-size: 28px;
    }
    .sub__title {
      font-size: 30px;
    }
    &__image {
      max-width: 100%;
      margin-bottom: 40px;
      &-photo {
        max-width: 380px;
        border-radius: 4px;
      }
    }
  }

  .counter {
    &__main {
      max-width: 600px;
      flex-wrap: wrap;
      justify-content: space-between;
      &-item {
        width: 260px;
        min-height: 120px;
        padding: 20px 10px;
        margin-bottom: 40px;
      }
      &-text {
        font-size: 18px;
      }
    }
  }
  .sports__title {
    text-align: center;
  }
  .card__box {
    max-width: 660px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
  }
  .card {
    margin-bottom: 60px;
  }
  .figure {
    &__main {
      width: 100%;
      .topBlock__images {
        flex-wrap: nowrap;
        & img:first-child {
          margin-right: 20px;
        }
      }
      .topBlock__images > img {
        width: 55%;
      }

      .topBlock__images > img {
        border-radius: 5px;
        margin-bottom: 0px;
      }
      .downBlock__images > img {
        width: 100%;
        border-radius: 5px;
        margin-bottom: 40px;
      }
    }
  }
  .teachers__center {
    text-align: center;
  }
  .managers__main {
    flex-direction: column;
    align-items: center;
  }
  .secondCard {
    width: 700px;
    justify-content: start;
    &__descr {
      &--media {
        max-width: 100%;
      }
    }
  }
}

@media (min-width: 1050px) {
  .nav__link--drop:hover::after {
    transform: rotate(180deg);
    transition: all 0.3s;
  }

  .nav__item:hover .nav__list--dropdown {
    visibility: visible;
    opacity: 1;
    transition: all 0.3s;
  }
}

@media (max-width: 1050px) {
  .header {
    &__main {
      padding-top: 40px;
    }
    &__text {
      max-width: 70%;
      margin-bottom: 40px;
    }
    .top__title {
      font-size: 24px;
    }
    .sub__title {
      font-size: 26px;
    }
    &__image {
      margin-bottom: 80px;
      &-photo {
        max-width: 420px;
      }
    }
  }

  .counter {
    &__main {
      justify-content: space-evenly;
    }
  }
  .burger {
    display: block;
    margin-top: 20px;
  }
  .burger span {
    height: 3px;
    background-color: #fff;
  }

  .mobile-back {
    display: block;
  }

  .header {
    padding: 15px 0;
  }
  .logo {
    display: none;
  }
  .nav {
    position: fixed;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    left: 0;
    top: 0;
    // max-width: 400px;
    width: 40%;
    height: 100vh;
    z-index: 100;
    border-radius: 5px;
    box-shadow: 5px 0 15px -5px rgba(0, 0, 0, 0.8);
    background: linear-gradient(180deg, #0b3767 0%, #0a3e76 100%);
    transform: translateX(-150vw);
    overflow-x: hidden;
    overflow-y: auto;
  }

  .nav__list {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    padding-top: 10%;
    position: relative;
    margin: 0;
  }

  .nav__item {
    margin-left: 0 !important;
    font-size: 20px;
    width: 100%;
    padding: 0;
    position: static;
  }

  .nav__link,
  .dropdown-submenu__list-item a,
  .dropdown-list__link {
    padding: 20px 30px;
    width: 100%;
    display: flex;
    justify-content: start;
    background: transparent;
  }

  .nav__link::after {
    transform: rotate(-90deg);
    position: relative;
    top: 6px;
  }
  .nav__link-media {
    text-align: center;
    display: inline-block;
    margin: 6px 0px 14px 30px;
  }

  .nav__list--dropdown {
    position: absolute;
    top: 0;
    right: auto;
    left: 100%;
    box-shadow: none;
    width: 106%;
    display: none;
    background: transparent !important;
  }

  .dropdown-submenu__item {
    width: 100%;
    padding: 0;
  }

  .dropdown-submenu__title {
    padding: 0 30px;
  }

  .dropdown-submenu__banner {
    display: inline-block;
    padding: 20px;
  }

  .nav__list.transformation {
    transform: translateX(-100%);
    transition: all 0.3s;
  }

  .nav__list--dropdown.transformation {
    opacity: 1;
    visibility: visible;
    display: block;
    transform: none;
    background: linear-gradient(180deg, #007aff 0%, #004fa5 58.8%, #003166 100%);
    transition: all 0.3s;
  }

  .nav.open {
    transform: translateX(0);
    transition: all 0.3s;
  }

  .overlay.open {
    opacity: 1;
    visibility: visible;
    transition: all 0.3s;
  }

  .mobile-back a {
    position: relative;
    border: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .mobile-back a::after {
    content: "";
    width: 14px;
    height: 14px;
    background-image: url("../images/download.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    margin: 4px 0 0 6px;
    transform: rotate(-90deg);
  }
}

@media (max-width: 972px) {
  .figure {
    &__main {
      .topBlock__images {
        flex-direction: column;
        align-items: center;
        & img:first-child {
          margin-right: 0px;
          margin-bottom: 40px;
        }
      }
      .topBlock__images > img {
        width: 60%;
      }
    }
  }
  .blocks {
    padding: 40px 10px;
    max-width: 100%;
  }
  .dean {
    &__img {
      margin-right: 0px;
    }
  }
  .orders {
    &__main {
      justify-content: center;
    }
    &__item {
      max-width: 72%;
    }
  }
}

@media (max-width: 881px) {
  .person__container-inner {
    left: 0px;
  }
}
@media (max-width: 782px) {
  .blocks {
    padding: 40px 20px;
    &__img {
      max-width: 200px;
      max-height: 250px;
    }
    &__descr {
      max-width: 100%;
      margin-left: 30px;
      &-contact {
        margin-bottom: 30px;
      }
      &-name {
        font-size: 19px;
      }
    }
  }
  .modal__body {
    & p {
      font-size: 17px;
    }
  }

  .secondCard {
    max-width: 100%;
    &__image {
      width: 200px;
      height: 300px;
    }
    &__descr {
      margin-top: 40px;
      &-name {
        font-size: 19px;
      }
      p {
        font-size: 15.8px;
      }
    }
  }
  .person__container-inner {
    left: -40px;
  }
}
@media (max-width: 641px) {
  .nav {
    width: 45%;
  }
  .nav__link,
  .dropdown-submenu__list-item a,
  .dropdown-list__link {
    padding: 10px 30px;
  }

  .header {
    &__text {
      max-width: 80%;
    }

    &__image {
      margin-bottom: 80px;
      &-photo {
        max-width: 380px;
      }
    }
  }
  .burger {
    margin-bottom: 50px;
  }

  .counter {
    &__main {
      max-width: 60%;
      flex-direction: column;
      &-item {
        width: 100%;
        min-height: 100px;
        margin-bottom: 40px;
      }
      &-count {
        font-size: 36px;
      }
      &-text {
        font-size: 16px;
      }
    }
  }
  .card__box {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 300px;
    min-height: 240px;
    padding: 22px 10px 10px 10px;
    margin-bottom: 30px;
  }
  .main__Bigtext {
    font-size: 18px;
  }
  .blocks {
    flex-direction: column;
    align-items: center;
    max-width: 80%;
    padding: 40px 20px;
    &__img {
      max-width: 260px;
      max-height: 260px;
      margin-bottom: 10px;
    }
    &__descr {
      max-width: 100%;
      margin-left: 0px;
      text-align: center;
      &-contact {
        margin-bottom: 30px;
      }
      &-name {
        font-size: 19px;
      }
    }
    &__modalBtn {
      display: inline-block;
      width: 120px;
      font-size: 15px;
    }
  }

  .modal__body {
    text-align: start;
    & p {
      font-size: 17px;
    }
  }
  .modal__title {
    font-size: 20px;
  }
  .btn__modal {
    width: 50px;
  }

  .managers__title {
    padding: 40px 0;
  }
  .firstCard {
    max-width: 76%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: start;
    padding: 40px 20px;
    margin: 0 auto 0px auto;
    &__one {
      &-name {
        font-size: 18px;
      }
    }
  }

  .firstCard__two {
    max-width: 100%;
    margin-top: 30px;
    font-size: 17px;
    &-contact {
      margin: 20px 0;
    }
  }
  .secondCard {
    max-width: 76%;
    flex-direction: column;
    align-items: center;
    &__image {
      width: 190px;
      height: 280px;
    }
    &__descr {
      max-width: 100%;
      margin-top: 30px;
      margin-left: 0;
      text-align: center;
      &-name {
        font-size: 19px;
      }
      p {
        font-size: 16px;
      }
    }
  }
  .dean {
    &__img {
      margin-right: 0px;
    }
  }
  .hockey {
    &__image5 {
      & > img {
        width: 100%;
        height: auto;
      }
    }
  }
  .orders {
    &__item {
      max-width: 90%;
    }
  }
}

@media (max-width: 578px) {
  .nav {
    width: 56%;
  }
  .modal-content {
    margin: 0 auto;
    max-width: 480px;
  }
  .managers {
    padding: 0;
  }
  .managers__main {
    padding: 40px 0 0 0;
  }
  .firstCard {
    max-width: 92%;
  }

  .firstCard__two {
    font-size: 18px;
  }
  .secondCard {
    max-width: 92%;
  }
  .person {
    &__name {
      font-size: 18px;
    }
  }
  .orders {
    &__item {
      max-width: 100%;
    }
  }
}
@media (max-width: 480px) {
  .nav {
    width: 55%;
  }

  .nav__item {
    font-size: 18px;
  }
  .burger {
    margin-bottom: 120px;
  }
  .header {
    &__main {
      padding-top: 0px;
    }
    &__text {
      max-width: 90%;
      margin-bottom: 0;
    }
    .top__title {
      font-size: 22px;
    }
    .sub__title {
      font-size: 25px;
    }
    &__image {
      margin-bottom: 60px;
      &-photo {
        max-width: 280px;
      }
    }
  }

  .counter {
    &__main {
      max-width: 80%;
      &-count {
        font-size: 34px;
      }
    }
  }
  .teachers__center {
    text-align: center;
  }
  .figure {
    &__main {
      .topBlock__images {
        & img:first-child {
          margin-bottom: 20px;
        }
      }
      .topBlock__images > img {
        width: 100%;
      }
    }
  }
  .blocks {
    max-width: 100%;
    padding: 30px 20px;
    &__descr {
      & p {
        font-size: 16px;
      }
      &-name {
        font-size: 18px;
      }
    }
  }
  .person__descr {
    margin: 0 auto;
    text-align: center;
  }
  .person__container-inner {
    left: 10px;
  }
  .modal__body {
    & p {
      font-size: 16px;
    }
  }
  .modal__title {
    font-size: 18px;
  }
  .firstCard {
    max-width: 100%;
  }

  .firstCard__two {
    font-size: 17px;
  }
  .secondCard {
    max-width: 100%;
    &__image {
      width: 180px;
      height: 260px;
    }
    &__descr {
      margin-top: 20px;
      &-name {
        font-size: 17px;
      }
      p {
        font-size: 15px;
      }
      &--media {
        max-width: 150px;
        margin: 0 auto;
      }
    }
  }
  .orders {
    &__item {
      font-size: 16px;
    }
    &__link {
      width: 130px;
      font-size: 15px;
    }
  }
}
@media (max-width: 380px) {
  .nav {
    width: 70%;
  }

  .header {
    &__text {
      max-width: 96%;
    }
    .top__title {
      font-size: 20px;
    }
    .sub__title {
      font-size: 23px;
    }
  }

  .card {
    width: 260px;
  }
  .teachers__center {
    font-size: 29px;
  }
  .main__Bigtext {
    font-size: 16px;
  }
  .blocks {
    &__img {
      max-width: 240px;
      max-height: 220px;
      margin-bottom: 0px;
    }
    &__descr {
      & p {
        font-size: 14.7px;
      }
      &-name {
        font-size: 16px;
      }
    }
    &__modalBtn {
      display: inline-block;
      width: 120px;
      height: 35px;
      font-size: 14px;
    }
  }
  .modal__title {
    font-size: 15.7px;
  }
  .firstCard {
    &__one {
      &-photo {
        width: 100%;
      }
      &-name {
        font-size: 17.6px;
      }
      &-job {
        margin-bottom: 16px;
      }
    }
  }
  .firstCard__two {
    margin-top: 0px;
  }
  .person__container {
    margin: 0 auto;
  }
  .person__container-inner {
    left: -40px;
  }
  .orders {
    &__item {
      font-size: 16px;
      padding: 16px;
    }
    &__link {
      font-size: 14px;
    }
  }
}
