@import "vars";
@import "libs";
@import "fonts";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
}

.spinner {
  width: 80px;
  height: 80px;
  border: 2px solid #f3f3f3;
  border-top: 3px solid #f25a41;
  border-radius: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader {
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, #007aff 0%, #003166 100%);
  z-index: 36;
  position: fixed;
  left: 0;
  top: 0;
}
.hidden {
  overflow: hidden;
}

.container__header {
  max-width: 1430px;
  padding: 0 15px;
  margin: 0 auto;
}
.container {
  max-width: 1240px;
  padding: 0 15px;
  margin: 0 auto;
}
.section__title {
  font-weight: 400;
  font-size: 34px;
  letter-spacing: 0.2px;
  padding: 40px 0 80px 0;
  color: white;
}

.header {
  min-height: 100vh;
  padding-bottom: 40px;
  background: linear-gradient(180deg, #007aff 0%, #004fa5 58.8%, #003166 100%);
  color: white;
}

.logo {
  font-weight: 700;
  font-size: 22px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 200px !important;
  padding-top: 20px;
}
.nav__list {
  display: flex;
  align-items: center;
  margin: 0;
}

.nav__item:not(:first-child) {
  margin-left: 20px;
}

.nav__item {
  position: relative;
  padding: 15px 0;
  font-size: 19px;
}

.nav__link--drop::after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("../images/download.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 5px;
  transition: transform 0.3s;
}

.nav__list--dropdown {
  position: absolute;
  background: linear-gradient(180deg, #007aff 0%, #004fa5 58.8%, #003166 100%);
  right: 0;
  top: 100%;
  padding: 30px;
  display: block;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  opacity: 0;
  visibility: hidden;
  width: 240px;
}

.dropdown-submenu {
  display: flex;
  align-items: initial;
  &__title {
    margin-bottom: 10px;
  }
}

.dropdown-submenu__item {
  flex-grow: 1;
  min-width: 200px;
  padding: 0 30px;
}

.dropdown-submenu__list {
  padding: 0;
}

.dropdown-submenu__item:not(:last-child) {
  border-right: 1px solid #bfbfbf;
}

.dropdown-submenu__item:first-child {
  padding-left: 0;
}

.dropdown-submenu__item:last-child {
  padding-right: 0;
}

.mobile-back {
  display: none;
}

.dropdown-list__item {
  margin-bottom: 10px;
}

.dropdown-submenu__list-item {
  margin-bottom: 10px;
}

.burger {
  width: 40px;
  height: 20px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  position: relative;
  display: none;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
}

.burger::after {
  top: auto;
  bottom: 0;
}

.burger span {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 2px;
  display: inline-block;
  background-color: #000;
}
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
}

.lock {
  overflow: hidden;
}

.header__main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__text {
  max-width: 462px;
}
.top__title {
  font-size: 22px;
}
.header__image {
  max-width: 600px;
  &-photo {
    max-width: 600px;
    border-radius: 4px;
  }
}

.counter {
  min-height: 264px;
  background-color: #26335d;
  padding: 100px 0 40px 0px;
  &__main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    &-item {
      width: 240px;
      min-height: 100px;
      padding: 20px 10px;
      text-align: center;
      border-radius: 6px;
      background-color: white;
    }
    &-count {
      font-size: 40px;
      font-weight: bold;
      text-align: center;
      color: #2d9cdb;
    }
    &-text {
      font-size: 17px;
      font-weight: bold;
    }
  }
}

.sports {
  min-height: 600px;
  background-color: #26335d;
  padding-bottom: 50px;
}
.card__box {
  display: flex;
  justify-content: space-between;
}
.card {
  align-items: center;
  width: 230px;
  min-height: 320px;
  padding: 34px 10px 10px 10px;
  border-radius: 5px;
  position: relative;
  text-align: center;
  transition: all ease 0.4s;
  position: relative;
  background-color: white;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    border: 20px solid transparent;
    border-top: 20px solid #0061ff;
    border-right: 20px solid #0061ff;
  }
  &:hover {
    transform: scale3d(1.03, 1.03, 1);
  }
  &__image {
    transition: all ease 0.4s;
    img {
      display: block;
      width: 100%;
    }
  }
  &__content {
    position: relative;
    height: 190px;
    overflow: hidden;
  }
  &__title {
    text-align: center;
    margin: 20px 0px 10px 0px;
    padding-bottom: 2px;
    color: #035dee;
    font-size: 20px;
    font-weight: 700;
  }
  &__descr {
    font-weight: 500;
    text-align: center;
    font-size: 16px;
    color: black;
    margin: 0;
  }
}
.btn__more {
  padding: 10px 15px;
  margin: 0 0 10px 0;
  display: inline-block;
  border-radius: 6px;
  background: #0061ff;
  color: white;
  transition: all ease 0.6s;
  &:hover {
    color: #003166;
    background: orange;
  }
}
button {
  cursor: pointer;
  padding: 8px 16px;
}

.teachers {
  background-color: #26335d;
  min-height: 540px;
}

.sliders {
  &__photo {
    width: 100%;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
  }

  &__item {
    margin: 0;
    padding: 0;
    border-radius: 6px;
    background-color: white;
    &-bottom {
      text-align: center;
      background-color: #0061ff;
      color: white;
    }
    &-subtitle {
      font-weight: 700;
      line-height: 24px;
      text-align: center;
      letter-spacing: 0.1px;
      padding: 10px 0;
      background: #1b3053;
    }
    &-jobTitle {
      padding: 12px 0;
      margin: 2px 0 0px 0;
    }
  }
  & .slick-slide {
    margin: 0 7.6px;
  }
}

.footer {
  min-height: 200px;
  background-color: white;
  &__wrapper {
    display: flex;
    padding: 50px 0px;
  }
  &__content1 {
    max-width: 137px;
    &-title {
      margin-bottom: 25px;
      color: #1b3053;
      font-size: 18px;
    }
    &-link {
      margin: 10px 0;
      display: block;
    }
  }
  &__content2 {
    margin-left: 20px;
    &-location {
      margin-bottom: 19px;
    }
  }
}

.footer__secondBg {
  color: white;
  background: linear-gradient(180deg, #007aff 0%, #004fa5 58.8%, #003166 100%);
  h3 {
    color: inherit;
  }
}
// rector.html =======================================
.managers {
  padding: 40px 0;
  min-height: 600px;
}
.managers__title {
  text-align: center;
  margin-bottom: 40px;
  color: #004fa5;
  font-size: 30px;
}
.firstCard {
  display: flex;
  max-width: 680px;
  justify-content: space-around;
  min-height: 280px;
  padding: 20px;
  margin: 0 auto 30px auto;
  color: white;
  border-radius: 5px;
  background: linear-gradient(180deg, #007aff 0%, #004fa5 58.8%, #003166 100%);
  &__one {
    &-photo {
      width: 280px;
      border-radius: 5px;
    }
    &-name {
      margin: 10px 0;
    }
    &-job {
      text-align: center;
      font-weight: bold;
    }
  }
}

.firstCard__two {
  max-width: 100%;
  margin-top: 30px;
  font-size: 17px;
  &-contact {
    margin: 20px 0;
  }
}

.managers__main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px 0;
  color: white;
}
.secondCard {
  display: flex;
  width: 500px;
  justify-content: space-between;
  border-radius: 5px;
  background: linear-gradient(180deg, #007aff 0%, #004fa5 58.8%, #003166 100%);
  padding: 20px;
  margin-bottom: 40px;
  &__image {
    width: 220px;
    height: 320px;
    border-radius: 5px;
  }
  &__descr {
    max-width: 100%;
    margin-left: 20px;
    &-name {
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 16px;
    }
  }
}

// figure.html ========================================
.figure {
  min-height: 600px;
  padding: 40px 0;
}
@import "media";
